# Dependencias principales (actualizadas para Python 3.13)
Django==5.0.4
Pillow==11.0.0

# Dependencias de desarrollo
djangorestframework==3.14.0
python-dotenv==1.0.0
django-crispy-forms==2.0
django-debug-toolbar==4.2.0

gunicorn==21.2.0
psycopg[binary,pool]==3.2.8  # Versión compatible con Python 3.13
whitenoise==6.5.0
dj-database-url==2.1.0